body{
    display: flex;
    background-color: aliceblue;
    justify-content: center; /* centra horizontal */
    align-items: center;
     gap: 20px;  
}

#div1{
    text-align: center;
}
.elegant{
    background-color: rgb(240, 185, 185);
}
#myButton{
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: #000;
}
#myButton2{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #000;
    
}